body {
  background-color: #f2f2f2;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #282828;
}

.button {
  margin: 30px;
  display: inline;
  background-color: #39495c;
  border-radius: 5px;
  font-size: 18px;
  width: 190px;
  height: 60px;
  color: white;
  padding: 20px;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
  cursor: pointer;
}

.outOfStock {
  filter: blur(1px);
  /* filter : drop-shadow(0 0 0.75rem crimson); */
}

.cart {
  margin: 25px 100px;
  float: right;
  border: 1px solid #d8d8d8;
  padding: 10px 30px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}

.color-circle {
  width: 50px;
  height: 50px;
  margin-top: 8px;
  border: 2px solid #d8d8d8;
  border-radius: 50%;
}
.color-box{
  width: 50px;
  height: 25px;
  border: 2px solid #d8d8d8;
  border-radius: 25%;
  list-style: none;
  /* display: inline-block; */
}


.disabledButton {
  background-color: #d8d8d8;
  cursor: not-allowed;
}

h1 {
  font-size: 50px;
}

h3 {
  font-size: 25px;
}

img {
  width: 70%;
  margin: 40px;
  padding: 15px;
}

input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

label {
  font-size: 20px;
  margin-bottom: 5px;
}

li {
  font-size: 18px;
}

.nav-bar {
  background: linear-gradient(-90deg, #84cf6a, #16c0b0);
  height: 60px;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.57);
}

p {
  font-size: 22px;
}

.product-display {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.displayImage{
  filter: drop-shadow(0 1rem 1.75rem rgba(168, 168, 168, 0.568));
}
.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-image,
.product-info {
  width: 50%;
}

.review-form {
  display: flex;
  flex-direction: column;
  width: 425px;
  padding: 20px;
  margin: 40px;
  border: 2px solid #d8d8d8;
  background-color: white;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}

.review-container {
  width: 425px;
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 20px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 20px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 20px -12px rgba(0, 0, 0, 0.57);
  margin-left: 40px;
  border: 2px solid #d8d8d8;
}

.review-container li {
  margin-bottom: 30px;
}

.review-form .button {
  display: block;
  margin: 30px auto;
}

select {
  height: 40px;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
}

textarea {
  width: 95%;
  height: 70px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

.list-dots {
  list-style-type: none;
  padding-left: 0;
}

.list-dots li {
  margin-bottom: 5px;
  position: relative;
  padding-left: 15px;
}

.list-dots li::before {
  content: " ";
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  border-radius: 100%;
  height: 8px;
  background: #ced4da;

}

.price {
  font-weight: 600;
  color: #212529;
}

.form-controla {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.9rem + 2px);
  padding: 0.45rem 0.85rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.37rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#button-minus,
#button-plus {
  border: 1px solid #ced4da;
}

#button-minus:hover,
#button-plus:hover {
  border: 1px solid #868686;
}
/* NAVBAR */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
:root {
  --theme-bg-color: #3761af;
  --theme-color: white;
}
.navbar {
  box-shadow: 0 0 2px 0 grey;
  align-items: center;
  font-size: 1em;
  background-color: #3761af;
  background-color: var(--theme-bg-color);
  color: white;
  color: var(--theme-color);
}
.test{
  /* box-shadow:
  0.8px 2.4px 5.8px rgba(0, 0, 0, 0.014),
  1.9px 5.8px 13.8px rgba(0, 0, 0, 0.02),
  3.6px 10.9px 26px rgba(0, 0, 0, 0.024),
  6.5px 19.4px 46.5px rgba(0, 0, 0, 0.029),
  12.1px 36.3px 86.9px rgba(0, 0, 0, 0.036),
  29px 87px 208px rgba(0, 0, 0, 0.05)

; */
}

.item {
  padding: 10px;
  text-decoration: none;
  color: white;
  color: var(--theme-color);
}

.item.right {
  margin: 0 0 0 auto;
}

.logo img {
  max-width: 50%;
  margin: 0 ;
  padding : 0;
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

.item .group {
  align-items: center;
  font-size: 0.9em;
}

.item .group .sub {
  font-size: 0.8em;
}

.material-icons {
  font-size: 1.8rem;
}


.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 100;
  font-size: 6px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  height: 25px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 10px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.hvr:hover:enabled,.hvr:focus:enabled{
  box-shadow: 0 0.5em 0.5em -0.4em #007bff;
  transform: translateY(-0.25em);
}
.hvrr:hover:enabled,.hvrr:focus:enabled{
  box-shadow: 0 0.5em 0.5em -0.4em #dc3545;
  transform: translateY(-0.25em);
}
.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #41414100, #41414100, #30dd8a, #2bb673);
  box-shadow: 0 2px 7.5px 0 rgba(42, 116, 8, 0.75);
}
.btn-hover.color-2 {
  background-image: linear-gradient(to right, #41414100, #41414100, #2550dd, #1439b4);
  box-shadow: 0 2px 7.5px 0 rgba(3, 27, 104, 0.75);
}




@media (max-width: 700px) {
  .item.search input {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .detail,
  .logo .text {
    display: none;
  }
}

/* NAVBAR */
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .product-image,
  .product-info {
    margin-left: 10px;
    width: 100%;
  }

  .review-form {
    width: 90%;
  }
}